/** Layer base */
body,
html {
  @apply bg-mono-20 dark:bg-mono-200 min-h-full min-w-full #{!important};
}

html[class*='dark'] {
  @apply bg-mono-200 #{!important};
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  @apply text-mono-200 dark:text-mono-40;
}

p,
span,
label,
.body1,
.body2,
.body3,
.body4,
.mono1,
.mono2 {
  @apply text-mono-160 dark:text-mono-60;
}

.card {
  @apply bg-mono-0 dark:bg-mono-200;
}

.webb-shadow-sm {
  @apply shadow-[0_4px_8px_0_rgba(0,0,0,0.08)] dark:shadow-[0_4px_8px_0_rgba(0,0,0,0.2)];
}

.webb-shadow-md {
  @apply shadow-[0_4px_4px_0_rgba(0,0,0,0.25)] dark:shadow-[0_6px_12px_0_rgba(0,0,0,0.2)];
}

html,
body,
div,
main {
  @apply scrollbar-thin scrollbar-thumb-mono-60 dark:scrollbar-thumb-mono-120;
  @apply overflow-visible;
}
