/** Layer components */
.h1 {
  font-size: 64px;
  line-height: 96px;
}

.h2 {
  font-size: 48px;
  line-height: 72px;
}

.h3 {
  font-size: 36px;
  line-height: 54px;
}

.h4 {
  font-size: 24px;
  line-height: 36px;
}

.h5 {
  font-size: 18px;
  line-height: 27px;
}

.body1 {
  font-size: 16px;
  line-height: 24px;
}

.body2 {
  font-size: 14px;
  line-height: 21px;
}

.body3 {
  font-size: 12px;
  line-height: 18px;
}

.body4 {
  font-size: 10px;
  line-height: 15px;
}

.mono1 {
  font-size: 16px;
  line-height: 24px;
}

.mono2 {
  font-size: 12px;
  line-height: 18px;
}

/* Used for subtitles and buttons */
.label {
  @apply body1 font-bold;
}

/* Default type size, used for paragraphs and inputs */
.para1 {
  @apply body1;
}

/* Used for details, and small informational components */
.para2 {
  @apply body2;
}

/* Small utility used for labels and warnings */
.utility {
  @apply font-bold;

  font-size: 12px;
  line-height: 15px;
}

@media screen and (max-width: 800px) {
  .h1 {
    font-size: 46px;
    line-height: 69px;
  }

  .h2 {
    font-size: 34px;
    line-height: 51px;
  }

  .h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .h4 {
    font-size: 20px;
    line-height: 30px;
  }

  .h5 {
    font-size: 15px;
    line-height: 22px;
  }
}

.drawer-content {
  @apply bg-mono-0 dark:bg-mono-180 shadow-[-12px_0px_12px_0px_rgba(0,0,0,0.25)] dark:shadow-[-12px_0px_12px_0px_rgba(0,0,0,0.25)];

  @apply fixed top-0 bottom-0 right-0 w-[750px] overflow-auto;

  &[data-state='open'] {
    @apply animate-drawer-content-right-open;
  }

  &[data-state='closed'] {
    @apply animate-drawer-content-right-close;
  }
}
