html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-numeric: tabular-nums;
  color: #333333;
  font-weight: 400;
}

button {
  border: none;
  box-shadow: none;
  outline: none;
  appearance: none;
}

p, ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  min-width: 0;
  appearance: none;
  border: none;
  box-shadow: none;
}

p, span {
  cursor: inherit;
}

:root {
  --color-primary: #173dc9;
  --color-primary-light: #2938ce;
  --color-primary-hover: #1b4af3;
  --color-primary-active: #0c30ae;

  --color-blue: #108ee9;
  --color-green: #48b87e;
  --color-red: #e02020;
  --color-red-light: #ff5a5a;
  --color-yellow: #f0fa41;
  --color-origin: #f7b500;
  --color-white: #ffffff;
  --color-gray: #cccccc;
  --color-red-light: #ff5a5a;

  --color-success: var(--color-green);
  --color-error: var(--color-red);
  --color-alert: var(--color-yellow);
  --color-info: var(--color-blue);
  --color-warning: var(--color-origin);

  --border-color: #e9e9e9;
  --dividing-color: #ecf0f2;

  --text-size-sm: 14px;
  --text-size-md: 16px;
  --text-size-lg: 18px;
  --text-size-xl: 24px;

  --text-weight-light: 400;
  --text-weight-md: 500;

  --text-color-black: #000000;
  --text-color-white: #ffffff;
  --text-color-primary: #333333;
  --text-color-normal: #666666;
  --text-color-second: #999999;

  --screen-small: 960px;
  --screen-middle: 1440px;
  --screen-large: 1920px;

  --tab-border: #ebeef5;

  --card-shadow: 0 1px 20px 0 rgba(23, 65, 212, 0.02);

  --sidebar-item-height: 58px;

  --platform-background: #f8f9fd;

  --information-background: #edf3ff;
  --information-title-color: #0155ff;
  --information-content-color: #95ADDC;

  --notification-success-color: #8fce65;
  --notification-info-color: #108ee9;
  --notification-warning-color: #f0af41;
  --notification-error-color: #f35600;

  --notification-message-color: #404040;
  --notification-description-color: #666666;

  --table-striped-background: #f7faff;

  --input-border-color: rgba(1, 85, 255, 1);
  --input-shadow: rgba(1, 85, 255, 0.2);
  --input-border-color-error: rgba(255, 90, 90, 1);
  --input-shadow-error: rgba(255, 90, 90, 0.2);
}

/* overwrite ant style */
.ant-steps-item-process .ant-steps-item-icon {
  background: var(--color-primary);
  border-color: var(--color-primary);
}

.ant-steps-item-finish .ant-steps-item-icon {
  border-color: var(--color-primary);
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: var(--color-primary);
}

.ant-dropdown-menu {
  border-radius: 12px;
}
