#__next {
  background-color: #fff;
}

/* Override the swiper styles */
.swiper-pagination {
  bottom: 24px !important;
  left: 24px !important;
  right: auto !important;
  width: auto !important;
}

.swiper-pagination-bullet {
  @apply !bg-mono-120;
}

.swiper-pagination-bullet-active {
  @apply !bg-mono-200;
}

/* Headings, sub-headings, card texts */
.heading-1 {
  @apply text-[34px] leading-[45.9px] tracking-[-0.011em] /** small screen */
  md:text-[84px] md:leading-[113px] /** medium screen */
  font-black font-satoshi;
}

.heading-2 {
  @apply text-[30px] leading-[40.5px] /** small screen */
  md:text-[48px] md:leading-[72px] /** medium screen */
  text-mono-200 dark:text-mono-0
  font-black font-satoshi;
}

.heading-3 {
  @apply text-[24px] leading-[32.4px] /** small screen */
  md:text-[36px] md:leading-[54px] /** medium screen */
  font-black font-satoshi;
}

.heading-4 {
  @apply text-[24px] leading-[36px] /** small screen */
  font-bold font-satoshi;
}

.sub-heading-1 {
  @apply text-[16px] leading-[21.6px] /** small screen */
  md:text-[18px] md:leading-[27px] /** medium screen */
  font-medium font-satoshi;
}

.sub-heading-2 {
  @apply text-[16px] leading-[21.6px] /** small screen */
  md:leading-[24px] /** medium screen */
  font-medium font-satoshi;
}

.button-base {
  @apply text-[14px] leading-[27px] /** small screen */
  py-[8px] px-[36px] rounded-[30px]
  font-bold md:font-black font-satoshi;
}

.button-primary {
  @apply md:text-[18px] /** medium screen */
 text-mono-0 bg-mono-200 dark:text-mono-180 dark:bg-mono-20;
}

.button-secondary {
  @apply md:text-[16px] /** medium screen */
 text-mono-200 bg-mono-0 border-[2px] hover:text-mono-200 hover:bg-mono-20 border-mono-200;
}

/** Override the notion styles */
.notion-h-title {
  @apply heading-3;
}

.notion-text {
  @apply sub-heading-1;
}

.notion-list li {
  @apply font-semibold;
}

.notion-link {
  @apply text-base inline-block;
}

.notion-h2 {
  @apply mt-0;
}
