
.eslintrc.js
babel.config.js
jest.config.js
setupTest.ts

scripts/**
build/**
/node_modules/**
/packages/**/build/**
/packages/**/node_modules/**
/packages/apps/src/serviceWorker.ts
/packages/apps/config-overrides.js
/packages/dashboard/src/serviceWorker.ts
/packages/dashboard/config-overrides.js

/packages/**/src/**/*.spec.ts
/packages/**/src/**/*.spec.tsx