# Add files here to ignore them from prettier formatting

/dist
/coverage
/build
/apps/bridge-dapp/build/**/*
/apps/stats-dapp/build/**/*
/node_modules
/.vscode
/**/.next
/**/.netlify
apps/stats-dapp/graphql.schema.json
/**/generated
