::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  all: unset;
}

/* Override pagination styling from Swiper */
.swiper-pagination {
  @apply !static;
}

.swiper-pagination-bullet {
  @apply !bg-mono-100 dark:!bg-mono-60;
}

.swiper-pagination-bullet-active {
  @apply !bg-mono-160 dark:!bg-mono-0;
}

/* Override github-markdown-css */
.markdown-body {
  @apply !bg-mono-20 dark:!bg-mono-200;
}

.markdown-body pre {
  @apply !bg-mono-0 dark:!bg-mono-190 dark:!text-mono-0;
}

.markdown-body th,
td {
  @apply dark:!bg-mono-190;
}

/* Override react-complex-tree styling */
.rct-tree-item-button-isFolder,
.rct-tree-item-button {
  @apply !bg-inherit dark:hover:!bg-mono-190;
}

.rct-tree-item-arrow-isFolder,
.rct-tree-item-arrow {
  @apply hover:!bg-inherit;
}

.rct-tree-item-button-selected {
  @apply dark:!bg-mono-190;
}

.rct-tree-item-arrow svg {
  @apply !w-4 !fill-mono-120;
}

.rct-tree-item-title-container-selected .rct-tree-item-button::before {
  @apply !bg-blue-70 dark:!bg-blue-50;
}

.rct-tree-item-button:focus-visible {
  @apply focus-visible:outline-none;
}

/* Override react-syntax-highlighter styling */
code span {
  background: inherit;
  font-family: 'Cousine' !important;
  font-weight: 400 !important;
}
