#__next {
  background-color: #fff;
}

.bg-body {
  min-height: 100vh; /* Ensure the div takes up at least the full height of the viewport */
  background-size: cover; /* Scale the background image to cover the entire element */
  background-position: center center; /* Center the background image horizontally and vertically */
}

/* Headings, sub-headings, card texts */
.heading {
  @apply text-[44px] leading-[52.8px] tracking-[-0.011em] /** small screen */
  md:text-[64px] md:leading-[80px] /** medium screen */
  font-black;
}

.section-description {
  @apply text-[20px] leading-[32px] /** small screen */
  md:text-[24px] md:leading-[40px] /** medium screen */
  font-medium text-mono-140
  dark:text-mono-80;
}

.section-description-2 {
  @apply text-[16px] leading-[28px] /** small screen */
  md:text-[20px] md:leading-[32px] /** medium screen */
  font-medium text-mono-140
  dark:text-mono-80;
}

.button-base {
  @apply text-[16px] leading-[24px] px-[24px] rounded-[30px] py-[8px] /** small screen */
  md:text-[18px] md:leading-[28px] md:px-[36px]
  font-bold md:font-black;
}

/* Override styling for Tab component from webb-ui-components */
button[data-radix-collection-item] > span {
  @apply w-full flex flex-col items-center;
}

button[data-radix-collection-item][data-state='active'] .participation-tab {
  @apply text-mono-0 bg-mono-200;
}

button[data-radix-collection-item][data-state='active']
  .participation-tab-polygon {
  @apply border-t-mono-200;
}
