#__next {
  background-color: #fff;
}

/* Headings, sub-headings, card texts */
.heading {
  @apply text-[44px] leading-[52.8px] tracking-[-0.011em] /** small screen */
  md:text-[64px] md:leading-[80px] /** medium screen */
  font-black;
}

.section-description {
  @apply text-[16px] leading-[25.6px] /** small screen */
  md:text-[24px] md:leading-[40px] /** medium screen */
  font-medium text-mono-140;
}

.button-base {
  @apply text-[14px] leading-[27px] /** small screen */
  py-[8px] px-[36px] rounded-[30px]
  font-bold md:font-black;
}

.button-base-2 {
  @apply text-[14px] leading-[27px] px-[24px] /** small screen */
  py-[8px] md:px-[36px] rounded-[30px]
  font-bold md:font-black;
}

.button-primary {
  @apply md:text-[18px] /** medium screen */
 text-mono-0 bg-mono-200 dark:text-mono-180 dark:bg-mono-20;
}

.button-secondary {
  @apply md:text-[16px] /** medium screen */
 text-mono-200 bg-mono-0 border-[2px] hover:text-mono-200 hover:bg-mono-20 border-mono-200;
}
