.root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: -12px;
}

@media (min-width: 1920px) {
  .root {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .root {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .root {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1279px) {
  .root {
    grid-template-columns: repeat(1, 1fr);
  }
}

.item {
  padding: 12px;
}

.value {
  display: flex;
  justify-content: space-between;
}

.statisticContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
