.aca-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

@keyframes loading {
  0% { background-position: 0 0; }
  100% { background-position: 80px 0; }
}

.aca-btn--large {
  min-width: 178px;
  height: 58px;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.aca-btn--middle {
  min-width: 120px;
  height: 42px;
  padding: 0 16px;
  font-size: 16px;
  line-height: 16px;
}

.aca-btn--small {
  min-width: 80px;
  height: 32px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 14px;
}

.aca-btn-style--primary {
  &.aca-btn--border {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    background: #ffffff;

    &:hover {
      color: var(--color-primary-hover);
      border: 1px solid var(--color-primary-hover);
    }

    &:active {
      color: var(--color-primary-active);
      border: 1px solid var(--color-primary-active);
    }
  }

  &.aca-btn--ghost {
    background: transparent;
    color: var(--color-primary);

    &:hover {
      color: var(--color-primary-hover);
    }

    &:active {
      color: var(--color-primary-active);
    } 
  }

  &.aca-btn--normal {
    background: var(--color-primary);
    color: var(--color-white);

    &:hover {
      background: var(--color-primary-hover);
    }

    &:active {
      background: var(--color-primary-active);
    }

    &:hover.disabled,
    &.disabled {
      cursor: not-allowed;
    }
  }
}

.aca-btn-style--normal {
  &.aca-btn--border {
    color: var(--text-color-primary);
    border: 1px solid var(--color-gray);
    background: var(--color-white);

    &:hover {
      color: var(--color-primary-hover);
      border: 1px solid var(--color-primary-hover);
    }

    &:active {
      color: var(--color-primary-active);
      border: 1px solid var(--color-primary-active);
    }
  }

  &.aca-btn--ghost {
    background: transparent;
    color: var(--color-primary);

    &:hover {
      color: var(--color-primary-hover);
    }

    &:active {
      color: var(--color-primary-active);
    } 
  }

  &.aca-btn--normal {
    background: var(--color-white);
    color: var(--color-primary);

    &:hover {
      background: var(--color-white);
    }

    &:active {
      background: var(--color-white);
    }

    &:hover.disabled,
    &.disabled {
      cursor: not-allowed;
      background: var(--color-white);
    }
  }
}

.aca-btn-style--danger {
  &.aca-btn--border {
    color: var(--color-red);
    border: 1px solid var(--color-red);
  }

  &.aca-btn--ghost {
    background: transparent;
    color: var(--text-color-primary);
  }

  &.aca-btn--normal {
    background: var(--color-red);
    color: var(--color-white);

    &:hover.disabled,
    &.disabled {
      cursor: not-allowed;
    }
  }
}

.aca-btn.aca-btn--normal.aca-btn--loading {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, .1),
    rgba(255, 255, 255, .1) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .1) 50%,
    rgba(255, 255, 255, .1) 75%,
    transparent 75%,
    transparent 100%,
  );
  background-size: 80px 80px;
  animation: loading 1.5s linear infinite;
}

.aca-icon-btn {
  &.aca-btn--large {
    max-width: 58px;
    min-width: 58px;
    height: 58px;
    font-size: 20px;
  }

  &.aca-btn--middle {
    max-width: 42px;
    min-width: 42px;
    height: 42px;
    padding: 0 12px;
    font-size: 16px;
  }

  &.aca-btn--small {
    max-width: 32px;
    min-width: 32px;
    height: 32px;
    padding: 0 12px;
    font-size: 14px;
  }
}
