.root {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 160px;
  min-width: 30px;
  height: 32px;
  line-height: 28px;
  margin: 0 8px;
  padding: 0 8px;
  border-radius: 13px;
  background: #f0f0f0;
  color: var(--text-color-primary);

  border: 1px solid #e1e1e1;
  background: #ffffff;

  &.primary {
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
    color: var(--color-white);
  }

  &.clickable {
    cursor: pointer;
  }

  &.error {
    border-color: var(--color-error);
  }

  .input {
    min-width: 0;
    min-height: 0;
    height: 70%;
    border: none;
    font-size: 16px;
  }
}