@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

[hidden] {
  display: none !important;
}

:root {
  --card-height: 700px;
  --active-chain-dropdown-height: 300px;
}
