@font-face {
  font-family: 'Bitum';
  src: url('Bitum.eot');
  src: local('Bitum'), url('Bitum.eot?#iefix') format('embedded-opentype'), url('Bitum.woff2') format('woff2'),
    url('Bitum.woff') format('woff'), url('Bitum.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bitum';
  src: url('Bitum-LightItalic.eot');
  src: local('Bitum Light Italic'), local('Bitum-LightItalic'),
    url('Bitum-LightItalic.eot?#iefix') format('embedded-opentype'), url('Bitum-LightItalic.woff2') format('woff2'),
    url('Bitum-LightItalic.woff') format('woff'), url('Bitum-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Bitum';
  src: url('Bitum-Light.eot');
  src: local('Bitum Light'), local('Bitum-Light'), url('Bitum-Light.eot?#iefix') format('embedded-opentype'),
    url('Bitum-Light.woff2') format('woff2'), url('Bitum-Light.woff') format('woff'),
    url('Bitum-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bitum';
  src: url('Bitum-Bold.eot');
  src: local('Bitum Bold'), local('Bitum-Bold'), url('Bitum-Bold.eot?#iefix') format('embedded-opentype'),
    url('Bitum-Bold.woff2') format('woff2'), url('Bitum-Bold.woff') format('woff'),
    url('Bitum-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bitum';
  src: url('Bitum-BoldItalic.eot');
  src: local('Bitum Bold Italic'), local('Bitum-BoldItalic'),
    url('Bitum-BoldItalic.eot?#iefix') format('embedded-opentype'), url('Bitum-BoldItalic.woff2') format('woff2'),
    url('Bitum-BoldItalic.woff') format('woff'), url('Bitum-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Bitum';
  src: url('Bitum-Italic.eot');
  src: local('Bitum Italic'), local('Bitum-Italic'), url('Bitum-Italic.eot?#iefix') format('embedded-opentype'),
    url('Bitum-Italic.woff2') format('woff2'), url('Bitum-Italic.woff') format('woff'),
    url('Bitum-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
