.icon {
  margin-right: 8px;
}

.number, .balance {
  white-space: nowrap;

  &:global(.primary) {
    color: var(--color-primary);
  }

  &:global(.error) {
    color: var(--color-error);
  }

  &:global(.success) {
    color: var(--color-success);
  }
}
