::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  all: unset;
}

/* Override react-syntax-highlighter styling */
code span {
  background: inherit;
  font-family: 'Cousine' !important;
  font-weight: 400 !important;
}

:root {
  /** Define variables */
  --restake-card-min-height: 502px;
  --restake-modal-max-height: 700px;
  --restake-card-bg-dark: #1f1d2b;

  /** Tailwind md breakpoint */
  @media (min-width: 768px) {
    --restake-card-min-height: 648px;
  }
}
