::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  all: unset;
}

/* Override react-syntax-highlighter styling */
code span {
  background: inherit;
  font-family: 'Cousine' !important;
  font-weight: 400 !important;
}

:root {
  /** Define variables */
  --restake-card-min-height: 502px;
  --restake-modal-max-height: 700px;
  --restake-card-bg-dark: #1f1d2b;

  /** Tailwind md breakpoint */
  @media (min-width: 768px) {
    --restake-card-min-height: 648px;
  }
}

.bg-linear-table {
  @apply bg-gradient-to-b from-[#ffffff_-91.38%] to-[rgba(255,255,255,0)_180.01%] dark:from-[#2b2f40_-91.38%] dark:to-[rgba(43,47,64,0)_180.01%];
}
