.root {
  display: flex;
  align-items: stretch;

  &.padding {
    margin: 0 4px;
  }

  .nameArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .name {
    font-weight: 500;
  }

  .fullname {
    color: var(--text-color-second);
    white-space: nowrap;
  }
}

.tokenImage {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #ffffff;
}

.lpImages {
  display: flex;
  width: 55px;

  > img:nth-child(1) {
    z-index: 1;
  }

  > img:nth-child(2) {
    transform: translate3d(-17px, 0, 0);
  }
}

.icon {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 8px;

  &.noName {
    margin-right: 0;
  }
}