.root {
  margin: -24px -24px 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
}

.item {
  box-sizing: border-box;
  height: 152px;
  margin: 24px 24px 0 0;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #ebeef5;
  background: #ffffff;
  box-shadow: 0 1px 20px rgba(23, 65, 212, 0.02);
  overflow: hidden;
  transition: all 0.2s;
}

.item:hover {
  box-shadow: 0 1px 20px rgba(23, 65, 212, 0.2);
  // border: 2px solid var(--color-primary);
}

.totalAsset {
  background-image: url('../assets/total-assets-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;

  .num {
    display: block;
    margin-top: 16px;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    text-align: center;
  }
}

.assetCard {
  .header {
    display: flex;
    align-items: stretch;
  }
}

.tokenImage {
  height: 48px;
  flex: 0 0 48px;
}

.tokenArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 12px;

  .name {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color-primary);
    font-weight: 400;
  }

  .fullname {
    font-size: 14px;
    line-height: 16px;
    color: var(--text-color-second);
  }
}

.balanceArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;

  .currency {
    font-size: 20px;
    line-height: 24px;
    color:rgba(0, 0, 0, 0.8);
  }

  .amount {
    font-size: 14px;
    line-height: 16px;
    color: var(--text-color-second);
  }
}

.transferBtn {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}