.root {
  display: flex;
  padding: 18px 0 18px 24px;
  width: 548px;
  border-color: #ecf0f2;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;

  .icon {
    margin-right: 24px;
  }

  .info {
    flex: 1;
  }

  .name {
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: var(--text-color-primary);

    > button {
      min-width: 0;
    }
  }

  .address {
    display: block;
    margin-top: 14px;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-color-second);
  }

  .edit, .copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 68px;
    cursor: pointer;
  }

  .action {
    margin-top: 14px;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-primary);
  }

  .copy {
    display: flex;
    height: 75px;
    border-left: 1px solid #ecf0f2;
    cursor: pointer;
  }
}
