name: 'Release'
on:
  push:
    branches:
      - master
    paths-ignore:
      - '.github/workflows/**'
  workflow_dispatch:

jobs:
  pre-ci:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - name: 'Block Concurrent Executions'
        uses: softprops/turnstyle@v1
        with:
          poll-interval-seconds: 10
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  Build-Publish:
    name: Build-Publish
    needs: pre-ci
    if: "!startsWith(github.event.head_commit.message, '[SKIP CI]') && startsWith(github.event.head_commit.message, '[RELEASE]') && github.repository == 'tangle-network/dapp'"
    runs-on: ubuntu-latest
    steps:
      #Check out
      - uses: actions/checkout@v4
        with:
          fetch-depth: 100

      - name: Enable corepack
        run: |
          corepack enable
          corepack prepare yarn@4.2.2 --activate
          yarn set version 4.2.2

      - name: Setup Node.js environment
        uses: actions/setup-node@v4.0.4
        with:
          node-version: '>=18.12.x'
          cache: yarn

      #Identify changes
      - uses: marceloprado/has-changed-path@v1
        id: changed-tangle-dapp
        with:
          paths: apps/tangle-dapp

      - uses: marceloprado/has-changed-path@v1
        id: changed-tangle-cloud
        with:
          paths: apps/tangle-cloud

      - name: Install deps
        run: yarn install

      - name: build
        # Fix: JavaScript heap out of memory
        # https://github.com/actions/runner-images/issues/70#issuecomment-1191708172
        env:
          NODE_OPTIONS: '--max_old_space_size=4096'
        run: yarn nx run-many --all --target=build

      # Create github release
      - name: Release tangle dapp
        if: steps.changed-tangle-dapp.outputs.changed == 'true'
        uses: ./.github/actions/create-release
        with:
          package-path: apps/tangle-dapp
          repo-token: ${{ secrets.REPO_TOKEN }}

      - name: Release tangle cloud
        if: steps.changed-tangle-cloud.outputs.changed == 'true'
        uses: ./.github/actions/create-release
        with:
          package-path: apps/tangle-cloud
          repo-token: ${{ secrets.REPO_TOKEN }}
